{% extends "base.html" %} {% block content %}
<h2 class="mt-5">About</h2>
<div class="article_content">
    <p><img src="https://sdamolini.github.io/assets/img/face.jpg" style="float:left;width:191px;padding-right:20px;"> My name is Stephane Damolini.<br><br>MIT Engineer, problem-solver, finite element creator, code writer, beta tester. Enthusiastic about new technologies, challenges, data, optimization, and (machine) learning.<br><br>Resume available <a href="https://sdamolini.github.io/assets/files/Stephane Damolini - Resume.pdf">here</a>.<br><br>Full-length curriculum vitae available <a href="https://sdamolini.github.io/assets/files/Stephane Damolini - Curriculum Vitae.pdf">here</a> and MIT thesis available <a href="https://sdamolini.github.io/assets/files/Stephane Damolini - MIT Thesis.pdf">here</a>.<br><br>See other personal projects on my website: <a href="http://www.damolini.com/">www.damolini.com</a>.</p>
        <br clear="left"></p>
</div>

</div>
<br><br> {% endblock %}